[Unit]
Description=Install Nix Home Manager and packages on first login
ConditionUser=!root
ConditionPathExists=!%h/.local/state/deinonyxus/curator-init.done

[Service]
Type=oneshot
ExecStart=/usr/libexec/deinonyxus/curator.sh
ExecStartPost=/usr/bin/mkdir -p %h/.local/state/deinonyxus
ExecStartPost=/usr/bin/touch %h/.local/state/deinonyxus/curator-init.done

[Install]
WantedBy=default.target
