[Unit]
Description=DankMaterialShell (DMS)
PartOf=graphical-session.target
After=graphical-session.target
ConditionPathExistsGlob=%t/wayland-*

[Service]
Type=dbus
BusName=org.freedesktop.Notifications
Environment=PATH=/usr/bin
Environment=XDG_SESSION_TYPE=wayland
Environment=XDG_CURRENT_DESKTOP=labwc
Environment=QT_QPA_PLATFORM=wayland
PassEnvironment=XDG_DATA_DIRS XDG_DATA_HOME XDG_CONFIG_HOME XDG_CACHE_HOME
ExecStart=/usr/bin/dms run --session
ExecReload=/usr/bin/pkill -USR1 -x dms
Restart=always
RestartSec=1.23
TimeoutStopSec=10

[Install]
WantedBy=default.target graphical-session.target
