[Unit]
Description=DankMaterialShell (DMS)
PartOf=graphical-session.target
After=graphical-session.target
ConditionPathExistsGlob=%t/wayland-*

[Service]
Type=dbus
BusName=org.freedesktop.Notifications
Environment=PATH=/usr/bin
Environment=XDG_SESSION_TYPE=wayland
Environment=QT_QPA_PLATFORM=wayland
Environment=XDG_DATA_DIRS=%h/.local/share/flatpak/exports/share:/var/lib/flatpak/exports/share:/usr/local/share:/usr/share
PassEnvironment=XDG_DATA_DIRS XDG_DATA_HOME XDG_CONFIG_HOME XDG_CACHE_HOME
ExecStart=/bin/sh -lc 'export WAYLAND_DISPLAY=${WAYLAND_DISPLAY:-wayland-0}; export DISPLAY=${DISPLAY:-:0}; exec /usr/bin/dms run --session'
ExecReload=/usr/bin/pkill -USR1 -x dms
ExecCondition=/usr/bin/bash -lc 'session=${XDG_CURRENT_DESKTOP:-$DESKTOP_SESSION}; echo "$session" | grep -qi labwc'
Restart=always
RestartSec=1.23
TimeoutStopSec=10

[Install]
WantedBy=default.target graphical-session.target
