[Unit]
Description=Generate Labwc menu with DMS integrations
After=graphical-session.target

[Service]
Type=oneshot
ExecStart=/usr/libexec/dms/labwc-menu-update.sh
ExecCondition=/usr/bin/sh -c 'echo "$XDG_CURRENT_DESKTOP" | grep -qi labwc'

[Install]
WantedBy=default.target
