[Unit]
Description=Generate Labwc themerc from DMS colors
After=graphical-session.target

[Service]
Type=oneshot
ExecStart=/usr/libexec/dms/labwc-themerc-update.sh
ConditionEnvironment=XDG_CURRENT_DESKTOP=labwc
ConditionEnvironment=|XDG_CURRENT_DESKTOP=labwc:wlroots

[Install]
WantedBy=default.target
