[Unit]
Description=Install Nix Home Manager and packages on first login
ConditionUser=!root
ConditionPathExists=!%h/.local/state/randofin-os/nixpkgs-init.done

[Service]
Type=oneshot
ExecStart=/usr/libexec/randofin-os/nixpkgs.sh
ExecStartPost=/usr/bin/mkdir -p %h/.local/state/randofin-os
ExecStartPost=/usr/bin/touch %h/.local/state/randofin-os/nixpkgs-init.done

[Install]
WantedBy=default.target
